.registration-button{
   margin-top: 20px;
   width: 100%;
   background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%) !important;
   border-radius: 22px !important;
   border: none;
}

.registration-form{
   padding: 30px;
   box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.52);
   background-color: rgba(241, 241, 241, 0.747);
}

.ant-form-horizontal{
   border:none;
   box-shadow: none;
}