.recall-tittle {
  display: flex;
  justify-content: space-between;
  padding: 0 4em;
  margin-bottom: 40px;
}
.recall-tittle h3 {
  font-size: 32px;
}

.recall-amount {
  font-size: 20px;
  color: #8a8a8a;
  margin: 0.83em 0;
}
.recall {
  margin-bottom: 60px;
}
